.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(40, 40, 102, 0.247);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(16, 185, 129, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 15px 0;
}

.navbar-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--text-primary);
    margin-left: -20px;
}

.logo-text {
    letter-spacing: 2px;
}

.logo-highlight {
    color: var(--accent-color);
    text-shadow: 0 0 10px rgba(16, 185, 129, 0.5);
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 1.5;
    margin-right: -1000px;
    /* Ajusta este valor para separar del logo */
    padding: 0;
}

.nav-link {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    position: relative;
    padding: 5px 0;

}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--accent-color);
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: var(--accent-color);
}

.nav-link:hover::after {
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-container {
        padding: 0 20px;
    }

    .navbar-menu {
        gap: 20px;
    }

    .nav-link {
        font-size: 0.9rem;
    }
}